<ion-card>
  <ion-card-content>
    <ion-item>
      <ion-label floating>Email Address</ion-label>
      <ion-input type="text" ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>Password</ion-label>
      <ion-input type="password" ></ion-input>
    </ion-item>
  </ion-card-content>
  <ion-row class="login-form__buttons">
    <div>
      <button ion-button color="secondary" (click)="navigateToPage('RegisterPage')" >Register</button>
      <button ion-button (click)="navigateToPage('TabsPage')">Login</button>
   </div>

  </ion-row>
</ion-card>